body{
	margin: 0;
	height: 100vh;
}

#lightbox{
	width: 80%;
	margin: 0 auto;
	height: 80vh;
}

#lightbox-image{
	max-height: 100%;
	max-width: 80%;
	float: left;
	/*prevent select highlight*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.vertical-align{
	/*vertical algin*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.lightbox-nav{
	float: left;
	height: 100%;
	width: 10%;
	background: purple;
	cursor: pointer;
}

@media (max-width: 767px) {
	#lightbox{
		width: 100%;
	}
}